{{ define "main" }}
 
  <body>
    <h1 class="journal-title">Journal</h1>
    <p class="journal-intro">These are random thoughts, rough and unpolished. They don't quite fit as a blog post, but I felt like publishing them anyway.</p>
    <br>

    <ul class="journal-list">
      {{ range .Pages.ByDate.Reverse }}
        <li class="journal-entry">
          <span class="journal-date">{{ .Date.Format "02 Jan 2006" }}</span>
          <a href="{{ .Permalink }}" class="journal-link">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </body>
{{ end }}
