

{{- define "main" }}

<article class="post-single">
  <header class="post-header">
   
    {{ partial "breadcrumbs.html" . }} 
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  
  <div id="table-container">
  <select id="book-sort">
    <option value="date-desc">Newest &rarr; Oldest</option>
    <option value="rating-desc">Best &rarr; Worst</option>
  </select>

  <table id="book-table">
    <thead>
      <tr>
        <th>Book</th>
        <th>Rating</th>
        <th>Read on</th>
      </tr>
    </thead>
    
    <tbody>
      {{ $sort := .Page.Params.sort }}
      {{ $books := .Site.Data.books }}
      {{- if eq $sort "rating-desc" }}
        {{ $books = sort $books "rating" "desc" }}
      {{- else if eq $sort "date-desc" }}
        {{ $books = sort $books "date" "desc" }}
      {{- end }}
      {{- range $books }}
        <tr>
          <td>
            {{ if .url }}
              <a href="{{ .url }}" style="text-decoration: underline;">{{ .book }}</a>
            {{ else }}
              {{ .book }}
            {{ end }}
          </td>
          <td data-rating="{{ .rating }}">
            <span class="star-rating">
              {{ if eq .rating 0 }}&#9734;&#9734;&#9734;&#9734;&#9734;{{ end }}
              {{ if eq .rating 1 }}&#9733;&#9734;&#9734;&#9734;&#9734;{{ end }}
              {{ if eq .rating 2 }}&#9733;&#9733;&#9734;&#9734;&#9734;{{ end }}
              {{ if eq .rating 3 }}&#9733;&#9733;&#9733;&#9734;&#9734;{{ end }}
              {{ if eq .rating 4 }}&#9733;&#9733;&#9733;&#9733;&#9734;{{ end }}
              {{ if eq .rating 5 }}&#9733;&#9733;&#9733;&#9733;&#9733;{{ end }}
            </span>
          </td>
          <td data-date="{{ .date }}">{{ dateFormat "Jan 2006" (.date) }}</td>
        </tr>
      {{- end }}
    </tbody>
    </table>
  </div>  

  <script>
    function sortBooks() {
        let books = document.getElementById("book-table");
        let sortValue = document.getElementById("book-sort").value;
        let rows = Array.prototype.slice.call(books.querySelectorAll("tr"));
        rows.shift();
        rows.sort(function(a, b) {
            let aVal, bVal;
            if (sortValue === "rating-desc") {
                aVal = parseFloat(a.querySelector("td:nth-child(2)").getAttribute("data-rating"));
                bVal = parseFloat(b.querySelector("td:nth-child(2)").getAttribute("data-rating"));
            } else if (sortValue === "date-desc") {
                aVal = new Date(a.querySelector("td:nth-child(3)").getAttribute("data-date")).getTime();
                bVal = new Date(b.querySelector("td:nth-child(3)").getAttribute("data-date")).getTime();
            }
            return (aVal > bVal) ? -1 : (aVal < bVal) ? 1 : 0;
        });
        rows.forEach(function(row) {
            books.appendChild(row);
        });
    }
    document.getElementById("book-sort").addEventListener("change", sortBooks);
    sortBooks();
  </script>

  <p style="font-size: 11px"><br>This page was inspired from Simon Hørup Eskildsen's <a href='https://sirupsen.com/books' style="text-decoration: underline;">book page</a>.</p>

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

</article>

{{- end }}{{/* end main */}}