{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}


  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{- $timelineData := index .Site.Data "timeline" }}
  {{- $totalYears := index $timelineData "totalYears" }}
  {{- $boxesPerRow := 26 }} <!-- Number of boxes per row -->
  {{- with index $timelineData "dateOfBirth" }}
  {{- $dateOfBirth := . }}
  {{- $dob := (time $dateOfBirth) }}
  <div class="timeline-container">
    <div class="timeline">
      <!-- Calculate the number of weeks lived based on date of birth -->
      {{- $today := now }}
      {{- $unixDob := $dob.Unix }}
      {{- $unixToday := $today.Unix }}
      {{- $secondsLived := sub $unixToday $unixDob }}
      {{- $weeksLived := div $secondsLived 604800 }} <!-- 604800 seconds in a week -->
      <!-- Display the number of weeks lived and date of birth -->
      <div class="timeline-info">
        <p>Weeks Lived: {{ $weeksLived }}</p>
        <p>Date of Birth: {{ dateFormat "January 2, 2006" $dob }}</p>
      </div>
      {{- $totalRows := mul $totalYears 2 }} <!-- Total number of rows for all years -->
      {{- $eventData := index $timelineData "events" }}
      {{- range $rowIndex := seq 1 $totalRows }}
      <!-- Start a new row -->
      <div class="row">
        {{- range seq 1 $boxesPerRow }}
        {{- $boxIndex := add (mul $boxesPerRow (sub $rowIndex 1)) . }}
        {{- $isWeekLived := le $boxIndex $weeksLived }}
        {{- $eventFound := false }}
        {{- $currentEvent := dict "text" "" }} <!-- Initialize an empty event data variable -->
        {{- range $event := $eventData }}
        {{- $eventDate := index $event "date" }}
        {{- $eventWeeks := sub (div (sub (time $eventDate).Unix $unixDob) 604800) 1 }}
        {{- if eq $boxIndex $eventWeeks }}
        {{- $eventFound = true }}
        {{- $currentEvent = $event }} <!-- Assign the current event to the variable -->
        
        
        
        
        {{- end }}
        {{- end }}
        
        <div class="week-box
        {{ if $eventFound }}week-box-event{{ end }}
        {{ if $isWeekLived }}week-box-lived{{ end }}"
      >
        {{ if $eventFound }}
          <!-- Tooltip -->
          <div class="tooltip">
            <span class="tooltiptext" onclick="">{{ $currentEvent.text | safeHTML }}</span>
          </div>
        {{ end }}
      </div>
      
      


        
        {{- end }}

        
       
        {{- if mod $rowIndex 2 | eq 0 }}
        <!-- Add some space and make the text smaller for the year label after two rows -->
        <div class="year-label">{{ add 1 (div (sub $rowIndex 1) 2) }}</div>
        {{- end }}
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}

  
  
  <a><br></a>
  <h5>Inspired by <a href="https://waitbutwhy.com/2014/05/life-weeks.html" style="text-decoration: underline;">Tim Urban</a>, <a href="https://www.bryanbraun.com/your-life/weeks.html" style="text-decoration: underline;">Bryan Braun</a>, <a href="https://www.failflow.com/die/1487" style="text-decoration: underline;">FailFlow</a>, <a href="https://lifecal.me/" style="text-decoration: underline;">Life Calendar</a>, <a href="https://busterbenson.com/life-in-weeks" style="text-decoration: underline;">Buster Benson</a>, and many more.</h5>


  
</article>

  <div>
    {{ partial "disqus.html" . }}
  </div>

  {{ template "_internal/disqus.html" . }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>



{{- end }}{{/* end main */}}
