

{{ if not .Params.disable_comments }}




<h1>Comments</h1>

<div class="comments-section">
  {{ range .Site.Data.comments }}
      <div class="comment">
          <div class="avatar">
              <img src="https://api.dicebear.com/7.x/identicon/svg?seed={{ .Name }}+{{ .Date }}" alt="avatar">
          </div>
          <div class="comment-details">
              <strong class="comment-author-name">{{ .Name }}</strong><span class="date">on {{ .Date }}</span>
              <p>{{ .Comment }}</p>
          </div>
      </div>
  {{ end }}
</div>


<style>
  .ohnohoney{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      z-index: -1;
  }
</style>

<h2>Leave a Comment</h2>

<form 
  id="commentForm" 
  method="POST" 
  action="https://script.google.com/macros/s/AKfycbybzIVhZ6DyJQD8nl0suisVDVly07c87524X84iORIBdkekzQ68ugrCG8TrTB5HnJdtuQ/exec">
  <div class="comment-form">
    <input type="hidden" name="timestamp" id="timestamp" value="" />
    <input type="hidden" name="url" value="{{ .Params.url }}" />

    <div class="form-row">
      <div class="column">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="column">
        <label for="email">Email (optional)</label>
        <input type="email" id="email" name="email" />
      </div>
    </div>

    <!-- Honeypot field -->
    <div style="display:none;">
      <label>If you're a human, leave this field blank!<input type="text" name="honeypot" /></label>
    </div>

    <div class="form-row">
      <label for="message">Comment</label>
      <textarea id="message" name="message" required></textarea>
    </div>
   
    <div class="form-row">
      <button type="submit comment">Comment</button>
    </div>
  </div>
</form>
<h6>Leave a comment using the form below. Comments are moderated and will be published only if they add to the discussion in a constructive way. Fill the email field if you wish to contact me or leave it blank.</h6>

All comments are held for moderation and will be published only after approval. Emails are optional and collected for contact purposes only. No email is published


{{ end }}
