/* Contact Page Form CSS Below */

.contact-form {
    width: 100%;
    margin: auto;
    padding: 1px;
    box-sizing: border-box;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  .form-row label {
    display: block;
    margin-bottom: 8px;
  
  }
  
  .form-row input,
  .form-row textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #717171;
    font-size: 0.9em; /* Match input font size to comment font size */
    color: whitesmoke;
  }
  
  .contact-form button {
    background-color: #005d52;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 0.9em; /* Match button font size to comment font size */
  }
  
  .contact-form button:hover {
    background-color: #013f38;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .ohnohoney {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  