.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 15px;
  justify-content: center; /* Center-align items in the grid */
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}

.project-card:hover {
  background-color: #f0f0f0;
}

.image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius: 3px;
}

.project-card h3 {
  margin: 3px 0;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}

.project-card .description {
  margin: 3px 0;
  font-size: 0.75em;
  color: #666;
}

.project-card .revenue {
  margin-top: auto;
  font-size: 0.75em;
  font-weight: 400;
  color: #444;
}

/* Responsive Design */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .project-card {
    background-color: #292929;
    border: 1px solid #333;
    color: #bbb;
  }

  .project-card h3,
  .project-card .description,
  .project-card .revenue {
    color: #bbb;
  }

  .project-card:hover {
    background-color: #3a3a3a;
  }
}