{{- $imgPath := printf "images/%s.png" (.Get "name") -}}
{{- $imgAbsPath := printf "%s/%s" (site.Params.staticDir) $imgPath -}}
{{- $.Page.Resources.GetMatch $imgPath | resources.FromString "image/png" | resources.Minify | resources.Fingerprint -}}
{{- $imgRelPath := printf "%s/%s" (site.Params.staticDir) .Destination.Rel -}}
{{- $imgSrc := resources.Get $imgRelPath | safeURL -}}

<figure>
  <img src="{{ $imgSrc }}" alt="{{ .Get "name" }}">>
  <figcaption>{{ .Get "caption" }}</figcaption>
</figure>
