<div class="contact-form" id="contactform">
    <form method="POST" id="form">
        <input type="hidden" name="access_key" value="5469dc3e-6ca5-42c7-8ccf-86163ae7e0c0" class="ohnohoney">
        


        <div class="form-row">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-row">
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
        </div>

        <button type="submit">Submit</button>

        <div id="result"></div>

    </form>
</div>



<script src="{{ "js/contact-form-success.js" | relURL }}"></script>
