<div class="contact-form" id="contactform">
    <form method="POST" id="form">
        <input type="hidden" name="access_key" value="5469dc3e-6ca5-42c7-8ccf-86163ae7e0c0" class="ohnohoney">
        


        <div class="form-row">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-row">
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
        </div>

        <button type="submit">Submit</button>

        <div id="result"></div>

    </form>
</div>


<script src="https://api.formbeep.com/v1/s/formbeep.js" data-api-key="fbp_Ygr_Z2Q-KR45kngKwaLf-VpKAVxn"></script>
<script>

    const form = document.getElementById('form');
    const result = document.getElementById('result');
    
    form.addEventListener('submit', function(e) {
      e.preventDefault();
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
      result.innerHTML = "Please wait..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = "Your message has been sent. Thanks for contacting me! I will get back to you within 3-4 days.";
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Something went wrong! Please try again or report an issue on my GitHub by repo";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 3000);
            });
    });




</script>
