<div style="text-align: center; margin-top: 20px;">
    <button hx-post="https://uselessbutton.vercel.app/increment_count" 
            hx-target="#countText" 
            hx-swap="innerHTML"
            hx-headers='{"Authorization": "Basic YWRtaW46c2VjcmV0"}'
            style="font-size: 24px; padding: 15px 30px; border-radius: 10px; background: linear-gradient(to bottom, #007bff 0%, #0056b3 100%); color: white; border: 1px solid #0056b3; cursor: pointer; box-shadow: inset 0 1px 0 #80d4ff, 0 5px #004080; transition: all 0.2s ease; transform: translateY(0);"
onmousedown="this.style.transform='translateY(4px)'; this.style.boxShadow='inset 0 1px 0 #80d4ff, 0 1px #004080';"
onmouseup="this.style.transform='translateY(0)'; this.style.boxShadow='inset 0 1px 0 #80d4ff, 0 5px #004080';"> Do not click </button>


            
    <p style="font-size: 20px; margin-top: 20px;">This button has been clicked 
        <span id="countText" 
              hx-get="https://uselessbutton.vercel.app/get_count"
              hx-headers='{"Authorization": "Basic YWRtaW46c2VjcmV0"}'
              hx-trigger="load" style="font-weight: bold;" >
            ..
        </span>&nbsp;<span style="font-weight: bold;">times</span> for no reason. <br>Why? I have no idea.
    </p>
</div>

<script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
