<div class="subscribe-block">
  <h4>Stay connected</h4>
  <p>
    If you enjoyed this post, you might like my weekly newsletter,<a href="https://newsletter.rishikeshs.com/" target="_blank" rel="noopener noreferrer">it's called 10+1 Things!</a> It is read by close to 3000 people from 100 countries. Every week I share 11 interesting things, some fascinating finds, snippets of my personal life and some randome stuff that I find interesting. 
  </p>
  <div class="subscribe-actions">
    <a href="https://newsletter.rishikeshs.com/subscribe" class="cta-button" target="_blank" rel="noopener noreferrer">Subscribe</a>
    <a href="https://newsletter.rishikeshs.com/archive" class="view-past-issues" target="_blank" rel="noopener noreferrer">View past issues →</a>
  </div>
</div>
